services:
    laravel_one:
        build:
            context: .
            dockerfile: Dockerfile
            network: host
        image: coba-po-app
        container_name: laravel_one
        restart: unless-stopped
        working_dir: /var/www/html
        volumes:
            - .:/var/www/html
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            - APP_ENV=local
            - APP_DEBUG=true
        networks:
            - app-network

    webserver:
        image: nginx:alpine
        container_name: coba_po_webserver
        restart: unless-stopped
        ports:
            - "8000:80"
        volumes:
            - .:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            - app-network
        depends_on:
            - laravel_one

networks:
    app-network:
        driver: bridge
